@font-face {
	font-family: "Expert-Light";
	src: url("/static/fonts/ExpertSans-Light.ttf");
}

@font-face {
	font-family: "Expert-Extra-Light";
	src: url("/static/fonts/ExpertSans-ExtraLight.ttf");
}


div#footer {
	background-color: #00AEEF;
	margin: 0px;
	padding: 20px 100px;
	height: 180px;
}


body {
	text-align: center;
	margin: 0px;
}

h1 {
	font-size: 50px;
	font-family: "Expert-Extra-Light";
	text-align: left;
	margin-top: 60px;
	margin-bottom: 80px;
	margin-left: 100px;
	color: #00AEEF;
}

h2 {
	font-size: 50px;
	font-family: "Expert-Extra-Light";
	margin-bottom: 0px;
	margin-top: 0px;
}

h2.index {
	text-align: left;
}


h3 {
	font-size: 30px;
	color: #00AEEF;
	font-family: "Expert-Light";
	text-align: left;
	margin-bottom: 0px;
	color: white;
}

p {
	font-size: 26px;
	font-family: "Expert-Light";
	text-align: left;
	margin-top: 5px;
	color: white;
}

a {
	color: black;
	text-decoration: none;
	margin-left: 100px;
}

div#footer img { 
	float: left;
	padding-right: 40px;
	padding-top: 10px;
	margin: 0px;
}