<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/shared.css">
		<link rel="stylesheet" type="text/css" href="/static/css/numbers.css">
	</head>

	<body>

	<h1>Average wait times in branch today</h1>

		<div id="container">
			<div class="timer">
				<h2 class="dark">At a counter</h2>
				<img src="/static/images/circles/{{ counter.shape_size }}.png" />
			</div>

			<div class="timer">
				<h2 class="dark">Self service</h2>
				<img src="/static/images/circles/{{ selfservice.shape_size }}.png" />
			</div>

			<div class="timer">
				<h2 class="light">Your mobile</h2>
				<img src="/static/images/circles/0.png" />
			</div>
		</div>

		<div id="footer">
			<img src="/static/images/face.png" />
			<h3>Start mobile banking today</h3>
			<p>Speak to Ozlem to get started here in just 5 minutes</p>
		</div>


	</body>

</html>