<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/shared.css">
		<link rel="stylesheet" type="text/css" href="/static/css/shapes.css">
	</head>


<body>

<h1>Average wait times in branch today</h1>

	<div class="timer">

		<h2>At a counter</h2>
		<img class="bar" src="/static/images/bars/{{ counter.shape_size }}.png" />
	</div>

	<div class="timer">
		<h2>Self service</h2>
		<img class="bar" src="/static/images/bars/{{ selfservice.shape_size }}.png" />
	</div>

	<div class="timer">
		<h2>Your mobile</h2>
		<h2 id="blue">No waiting time – to get started, ask our staff</h2>
	</div>

		<div id="footer">
			<img src="/static/images/face.png" />
			<h3>Start mobile banking today</h3>
			<p>Speak to Ozlem to get started here in just 5 minutes</p>
		</div>



</body>

</html>